attachment_storage_dir: /var/cldstr/wagn.org/wagn/ws/${appconfig.appconfigid}/files
database_config_file: /var/cldstr/wagn.org/wagn/ws/${appconfig.appconfigid}/database.yml
log_file: /var/log/cldstr+wagn.org+wagn+ws/${appconfig.appconfigid}.log
smtp:
	address: ${site.hostname}
